@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(245, 245, 245);
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  background-color: rgb(36, 36, 36);
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: rgb(0, 0, 0);

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 270px;
      margin: 5px;
      background-color: transparent;
      transition: transform 0.3s ease;
    

      .sale-badge {
        font-size: 1em;
        background-color: rgb(255, 0, 0);
      }
    }

    .card:hover {
      transform: scale(1.02);
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 100%;
  margin: auto;
  padding-left: 10px;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}

#author-books {
  display: flex;
  flex-wrap: wrap;
}

.author-books {
  width: 200px; 
  margin: 10px; 
}

.author-books .card-img-top {
  width: 100%;
  height: auto;
}

.data-tooltip {
  position: relative;
  cursor: pointer;
}

.data-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  margin-bottom: 3px;
  font-size: 10px;
}

.data-tooltip:hover::after {
  opacity: 1;
}

.nav-link {
  color: white;
}

.fa fa-star {
  color: gold;
}

.fav {
  color: black;
}
